body {background-color: #363636;
color: cornsilk;
font-size: 25px
}
h1{
    color: #CCA43B;
}
h2{
    color: 242F40;
}

.center {margin-left: auto;}

.picturefollow {
    position: relative; 
}

h2{
    padding: 10px;
    position: relative;
    margin-bottom: 1000px;
    width: 500px;
}


Color site: /https://coolors.co/363636-242f40-cca43b-e5e5e5-ffffff