body {
    background-color: #ABEDB0;
    font-family: cursive;
    }
    h1{
        color: #336699;
        text-align: center;
    }
    h2{
        color: #E5E5E5;
   text-align: center;
    }
    
 
h4{
    font: 20px;
}
    
.heading{
    font-size: 50px;
    margin-top: 40px;
}

.side-margin{
    margin: 0 20px 0 20px;
}
    
    .Intro-Page{
        background-color: #5DD24B;
        padding: 10px 10px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .BlogPostOne{
        background-color: #2F4858;
        font-size: 20px;
        color: #D7E3EA;
        padding: 10px 10px;
        text-align: center;
    }
    
.BlogPostTwo{
    background-color: #011638;
    font-size: 20px;
    color: #D7E3EA;
    padding: 10px 10px;
    text-align: center;
}

.BlogPostThree{
    background-color: #A10702;
    font-size: 20px;
    color: #D7E3EA;
    padding: 10px 10px;
    text-align: center;
}

.logo{
margin-left: 40px; 
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



    Color site: /https://coolors.co/363636-242f40-cca43b-e5e5e5-ffffff